<footer>
        <div class="social">
            <a href="#"><i class="fa-brands fa-github-square"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-instagram-square"></i></a>
        </div>
        <p class="mt-4">&copy; Design and developed by Li Tao 2022</p>
    </footer>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/animation.js" type="module"></script>

</body>
</html>
