<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Li Tao</title>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fira+Mono:wght@400;500&family=Pacifico&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://kit.fontawesome.com/696238c254.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="content">
    <header>
        <div class="logo-container">
            <a href="{{ url_for('home') }}" class="logo"><span>Li Tao</span></a>
        </div>
        <nav>

            <ul class="nav-links">
                <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-item-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('all_posts') }}" class="nav-item-link">Blogs</a></li>
                <li class="nav-item"><a href="#" class="nav-item-link">Project</a></li>
                <li class="nav-item"><a href="#" class="nav-item-link">About Me</a></li>
                <li class="nav-item"><a href="#" class="nav-item-link">Contact</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a href="{{ url_for('make_post') }}" class="nav-item-link">New Post</a></li>
                    <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-item-link">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-item-link">Login</a></li>
                {% endif %}
            </ul>
            <div class="burger">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </nav>