{% include 'header.html' %}
<div class="header-content">
    <p class="name">$ Hey, my name is:</p>
    <div class="header-animation-container" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">

    </div>
    <div class="description" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"
         data-aos-delay="400">

        <p class="description-subtitle">I like creating all things with coding.</p>
        <p class="description-detail">I'm a developer who is really passionate about web development and machine
            learning. Currently, I'm learning full stack development.
            <br>
            <span
                    class="organisation"><a
                    href="http://tonic-dev-blog.herokuapp.com/">@ Tonic Devs</a>.
                    </span>
        </p>
        <a href="#contact-section" class="btn btn-glow">Get in touch</a>
    </div>
</div>
<a class="bounce-arrow scroll-down-arrow">
    <span class="arrow-icon"><i class="fa fa-angle-down"></i></span>
</a>

</header>

<main>
    <section class="project-section" id="project-section">
        <h2 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="section-heading"><span
                class="number">01. </span>Projects
            I've worked on:</h2>

        <div class="project" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <p class="feature-project-title">Tonic Devs</p>
            <div class="project-card">
                <div class="project-image white-tint">
                    <img src="../static/images/tonicdevs.PNG" alt="tonicdevs">
                    <div class="project-image-overlay">
                        <a href="https://github.com/taoli24" class="project-link btn-glow">GITHUB</a>
                        <a href="http://tonic-dev-blog.herokuapp.com/" class="project-link btn-glow">LIVE</a>
                    </div>
                </div>


                <div class="project-feature">
                    <div class="feature-project-description">
                        <p>A web project for my imaginary dev team called Tonic Devs. The web project has a
                            complete user system, which user can register, login, logout, make blog posts and
                            comments. Posts can also be filtered by tags. </p>
                    </div>
                    <ul class="project-tools-used">
                        <li>Html5</li>
                        <li>css3</li>
                        <li>JS</li>
                        <li>Python</li>
                        <li>Flask</li>
                        <li>PostgreSQL</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project project-second" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <p class="feature-project-title">Data Analysis and Machine Learning</p>
            <div class="project-card">
                <div class="project-image white-tint">
                    <img src="../static/images/data.PNG" alt="data-and-ml">
                    <div class="project-image-overlay">
                        <a href="https://github.com/taoli24" class="project-link btn-glow">GITHUB</a>
                        <a href="http://tonic-dev-blog.herokuapp.com/" class="project-link btn-glow">LIVE</a>
                    </div>
                </div>
                <div class="project-feature">

                    <div class="feature-project-description">
                        <p>Melted cheese airedale macaroni cheese. Cauliflower cheese lancashire macaroni cheese
                            macaroni cheese cow pecorino st. agur blue cheese say cheese. Who moved my cheese dolcelatte
                            blue castello croque monsieur stinking bishop lancashire fondue babybel.  </p>
                    </div>
                    <ul class="project-tools-used">
                        <li>Python</li>
                        <li>Scikit-learn</li>
                        <li>Plotly</li>
                        <li>Seaborn</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <p class="feature-project-title">Build to survive</p>
            <div class="project-card">
                <div class="project-image white-tint">
                    <img src="../static/images/roblox.jpg" alt="tonicdevs">
                    <div class="project-image-overlay">
                        <a href="https://github.com/taoli24" class="project-link btn-glow">GITHUB</a>
                        <a href="https://www.roblox.com" class="project-link btn-glow">LIVE</a>
                    </div>
                </div>


                <div class="project-feature">
                    <div class="feature-project-description">
                        <p>St. agur blue cheese fromage pepper jack. Stinking bishop babybel cheese slices roquefort
                            everyone loves goat bavarian bergkase port-salut. Say cheese fondue lancashire parmesan
                            cheese strings croque monsieur parmesan boursin. Cheeseburger melted cheese bocconcini. </p>
                    </div>
                    <ul class="project-tools-used">
                        <li>Roblox Studio</li>
                        <li>Lua</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section indent-left" id="about-section">
        <h2 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="section-heading"><span
                class="number">02. </span>About me:</h2>
        <div class="about-section-container" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <div class="about-section-content">
                <div class="about-me-description">
                    <p>Hi, My name is Li. I am a canberra based developer who has a strong passion for web development
                        and
                        data
                        science using python.
                    </p><br>
                    <p>My passion for web development start in 2021 when I decided to make a dev
                        page
                        for
                        my imaginary dev team - Tonic Devs, which has certainly taught me a lot from basic html, css to
                        using flask to
                        handle user requests and dealing with databases.
                    </p>
                </div>
                <div class="education indent-left">
                    <h2 class="education-heading">Education and training:</h2>
                    <ul class="education-lists">
                        <li class="ml-2">Google IT Automation with python professional certificate 2022</li>
                        <li class="ml-2">Data scientist with python 2021 - Datacamp</li>
                        <li class="ml-2">Bachelor of Medical science 2020 - University of Canberra</li>
                        <li class="ml-2">Bachelor of Information Technology 2008 - University of Canberra</li>
                    </ul>

                </div>
                <a href="{{ url_for('download_file') }}" class="resume-download-link"><i
                        class="fa-solid fa-file-lines"></i><span class="download-text">Download my resume</span></a>
            </div>
            <div class="profile">
                <div class="profile-image-container white-tint">
                    <img src="../static/images/profile.jpg" alt="Li">
                </div>
            </div>
        </div>
    </section>
    <section class="tools-section" id="tools-section">
        <div class="about-tools">
            <h2 class="section-heading" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><span
                    class="number">03. </span>Tools I have worked with:</h2>
            <ul class="tools-icons" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <li><img src="../static/icon/icons8-html-5.svg" alt="" class="filter-gray">HTML5</li>
                <li><img src="../static/icon/icons8-css3.svg" alt="" class="filter-gray">CSS3</li>
                <li><img src="../static/icon/icons8-python.svg" alt="" class="filter-gray">Python</li>
                <li><img src="../static/icon/icons8-javascript.svg" alt="" class="filter-gray">Javascript</li>
                <li><img src="../static/icon/icons8-github.svg" alt="" class="filter-gray">Github</li>
                <li><img src="../static/icon/icons8-flask.svg" alt="" class="filter-gray">Flask</li>
                <li><img src="../static/icon/icons8-postgresql.svg" alt="" class="filter-gray">Postgresql</li>
                <li><img src="../static/icon/icons8-roblox-studio.svg" alt="" class="filter-gray">Roblox Studio</li>
                <li><img src="../static/icon/icons8-java.svg" alt="" class="filter-gray">Java</li>
                <li><img src="../static/icon/icons8-c-sharp-logo.svg" alt="" class="filter-gray">C#</li>
            </ul>
        </div>
    </section>
    <section class="contact-section indent-left" id="contact-section">
        <h2 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="section-heading"><span
                class="number">04. </span>Want to connect?</h2>
        <div class="contact-content mt-4" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <div class="contact-description">
                <p><span>Hey!</span> Thank you for visiting my portfolio website. If you ever want to have a quick
                    chat about
                    something or just want to grab a coffee together, you can send me a message using the form or email
                    me using the link below.</p>
                <div class="email-link ml-2">
                    <a href="mailto:gujie713@gmail.com"><i class="fa-solid fa-envelope"></i><span class="email-text">leelee0876452@gmail.com</span></a>
                </div>
            </div>
            <form method="post" class="contact-form my-form">
                <input type="text" name="name" id="name" placeholder="name" class="form-input">
                <input type="email" name="email" id="email" placeholder="email" class="form-input">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="message"
                          class="form-input"></textarea>
                <button type="submit" class="btn btn-glow">send message</button>
            </form>
        </div>
    </section>
</main>
<script src="../static/js/animation.js" type="module"></script>
{% include 'footer.html' %}